<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <h6 class="text-white">
            {% for i in fm %}
            <div class="form-group">
            {{i.label_tag}} {{i}} <br><small class="text-warning">{{i.errors|striptags}}</small>
            </div>
            {% endfor %}
        </h6>
        <!-- {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        {{error}}
        {% endfor %}
        {% endif %} -->
        <input type="submit" value="Sing"/>
    </form>
</body>
</html>